<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li n:foreach="$links as $link" class="breadcrumb-item {if !$link['link']}active{/if}">
			{if $link['link']}
				<a href="{$link['link']}">{$link['title']}</a>
			{else}
				{$link['title']}
			{/if}
		</li>
	</ol>
</nav>