{block content}
<h2 n:block="title">Pridaj pravidlo</h2>

<p>
	<a n:href="default" class="btn btn-large btn-default">
		<span class="glyphicon glyphicon-arrow-left"></span> späť na pravidlá
	</a>
</p>

{control addRuleForm}