{block content}

<h3 n:block="title">Pridaj pravidlo</h3>

<p>
    <a n:href="all" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Pravidlá
    </a>
</p>

{control addRuleForm}