{block content}

<h3 n:block="title">Pravidlá a smernice</h3>

<section id="rules">
	<p>
	    <a n:href="Archive:view#nav, $archive->id" class="btn btn-default">
	        <span class="glyphicon glyphicon-arrow-left"></span> {$archive->title}
	    </a>
	</p>

    <article n:foreach="$rules as $rule">
        <main>
            {$rule->rule|noescape}
        </main>
    </article>
</section>
