{block content}

<section class="content">
	
	<div class="clearfix hidden-xs">
		<div class="pull-left">
			{control breadCrumb}
		</div>
	</div>

	<div class="clearfix">
		<h1 n:block="title">Pravidlá a smernice</h1>
	</div>

	<article n:foreach="$rules as $rule">
	    {$rule->rule|noescape}
	</article>
</section>

{/block}
