{block content}

{control breadCrumb}

<section id="rules" class="content">
    <article n:foreach="$rules as $rule">
        <main>
            {$rule->rule|noescape}
        </main>
    </article>
</section>
