{block content}

<h3 n:block="title">Odstráň pravidlo</h3>

{if $rule}
    <p class='delete text-warning'>
        Naozaj chceš zmazať toto pravidlo?
    </p>
    {control deleteForm}
{else}
    <p class='error'>Nemôžem nájsť pravidlo.</p>
{/if}
