{block content}

<h3 n:block="title">Odstráň príspevok</h3>

{if $forum}
    <p class='delete text-warning'>
        Naozaj chceš zmazať príspevok, ktorý napísal <mark>{$forum->author}</mark> z 
        <mark>{$forum->created_at|date:'j.m.Y - h:i'}</mark>
    </p>
    {control deleteForm}
{else}
    <p>Príspevok nenájdený.</p>
{/if}