{block content}

<h1 n:block="title">Pridať kolo</h1>

<p>
    <a n:href="Round:all#nav" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Kolá
    </a>
</p>

{control addRoundForm}