{block content}

{control breadCrumb}

<section id="rounds">
    <div class="table-responsive">
        <table class="table">
            <caption class="text-center">Kolá</caption>
            <tbody>
                <tr n:foreach="$rounds as $round">
                    <td>
                        <a n:href="Fights:archView, $archive, $round">{$round->name}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>