{block content}

<h1 n:block="title">Pridať zápas do kola {$round->name}</h1>

<p>
    <a n:href="all#nav, $round->id" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        {$round->name}
    </a>
</p>

{control addFightForm}

