{block content}

<h1 n:block="title">Uprav zápas</h1>

<p>
    <a n:href="all#nav, $round->id" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Zápasy
    </a>
</p>

{control editFightForm}