{block content}

<h1 n:block="title">Upraviť tretiny</h1>

<p>
    <a n:href="all, $round" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        {$round->name}
    </a>
</p>

{control editThirdForm}
