{block content}

<h1 n:block="title">Nový hráč tímu {$team->name}</h1>
<p>
    <a n:href="Player:view, $team" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Hráči
    </a>
</p>

{control addPlayerForm}