{block content}

<h1 n:block="title">Vymaž hráča</h1>

{if $player}
    <p class='delete text-warning'>
        Naozaj chceš odstrániť hráča <mark>{$player->lname}</mark>?
    </p>
    {control deleteForm}

{else}
    <p>Nemôžem nájsť hráča.</p>
{/if}
