{block content}

<h1 n:block="title">Pridať tím</h1>
<p>
    <a n:href="Teams:view" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Tímy
    </a>
</p>

{control addTeamForm}