{block content}

<h1 n:block="title">Odstráň tím</h1>

{if $team}
    <p class='delete text-warning'>
        Naozaj chceš zmazať tím <mark>{$team->name}</mark>?
    </p>
    {control deleteForm}
{else}
    <p class='error text-danger'>Záznam nebol nájdený.</p>
{/if}