{block content}

<h1 n:block="title">Upraviť tím</h1>
<p>
    <a n:href="Teams:all#nav" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Tímy
    </a>
</p>

{control editTeamForm}