{block content}

<h1>Pridať obrázok tímu {$team->name}</h1>

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<p>
	    <a n:href="all#nav" class="btn btn-large btn-default">
	        <span class="glyphicon glyphicon-arrow-left"></span>
	        Tímy
	    </a>
	</p>
    {control uploadForm}
</section>