#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days
		autoStart: yes

	security:
		users:
			alexander.valach:	WallacH789	#	users'user',	passwords'user'
			sahl:	MatusLipcak11	#	users'user',	passwords'user'

services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	- App\Model\AlbumsRepository
	- App\Model\ArchiveRepository
	- App\Model\EventsRepository
	- App\Model\ForumRepository
	- App\Model\FightsRepository
	- App\Model\GalleryRepository
	- App\Model\GoalsRepository
	- App\Model\LinksRepository
	- App\Model\OptionsRepository
	- App\Model\PlayerTypesRepository
	- App\Model\PlayersRepository
	- App\Model\PostImageRepository
	- App\Model\PostsRepository
	- App\Model\PunishmentsRepository
	- App\Model\ReplyRepository
	- App\Model\RoundsRepository
	- App\Model\RulesRepository
	- App\Model\TablesRepository
	- App\Model\TeamsRepository
	- App\Model\UsersRepository