php:
	date.timezone: Europe/Prague

session:
	expiration: 7 days

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

forms:
	messages:
		REQUIRED: 'Pole je povinné.'
		EMAIL: 'Neplatná emailová adresa.'
		IMAGE: 'Obrázok môže byť len vo formáte JPEG, PNG alebo GIF'

services:
	# Router factory
	- App\RouterFactory
	router: @App\RouterFactory::createRouter

	# Authenticator
	authenticator: App\Model\UserManager

	# Model repositories
	- App\Model\AlbumsRepository
	- App\Model\EventsRepository
	- App\Model\FightsRepository
	- App\Model\ImagesRepository
	- App\Model\GoalsRepository
	- App\Model\GroupsRepository
	- App\Model\LinksRepository
	- App\Model\PlayersRepository
	- App\Model\PlayersSeasonsTeamsRepository
	- App\Model\PlayerTypesRepository
	- App\Model\PostImagesRepository
	- App\Model\PostsRepository
	- App\Model\PunishmentsRepository
	- App\Model\RoundsRepository
	- App\Model\RulesRepository
	- App\Model\SeasonsRepository
	- App\Model\SeasonsTeamsRepository
	- App\Model\SponsorsRepository
	- App\Model\TableEntriesRepository
	- App\Model\TableTypesRepository
	- App\Model\TablesRepository
	- App\Model\TeamsRepository
	- App\Model\UsersRepository

	# Form factories
	- App\Forms\AlbumFormFactory
	- App\Forms\EventAddFormFactory
	- App\Forms\EventEditFormFactory
	- App\Forms\FormFactory
	- App\Forms\MultiUploadFormFactory
	- App\Forms\ModalRemoveFormFactory
	- App\Forms\PlayerAddFormFactory
	- App\Forms\PostFormFactory
	- App\Forms\RemoveFormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\TableTypeAddFormFactory
	- App\Forms\TableTypeEditFormFactory
	- App\Forms\TeamFormFactory
