{block content}

<h1 n:block>Pridať trest</h1>

<p n:if="$user->loggedIn">
    <a n:href="all" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Tresty hráčov
    </a>
</p>

<div>
    {control addPunishmentForm}
</div>