{block content}

<section class="content">
  <div class="clearfix">
    <h1 n:block="title">Tresty hráčov — {$season->label}</h1>
  </div>

  {if count($punishments)}
    <div n:foreach="$punishments as $punishment" style="margin-top: 3em" class="text-center">
      <h2>{$punishment->player_name} ({$punishment->player_number})</h2>
      <div>
        {if $punishment->team_logo and file_exists($imageFolder . '/' . $punishment->team_logo)}
          <img src="{$basePath}/{$imageFolder}/{$punishment->team_logo}" width="40px" alt="{$punishment->team_name}" />
        {/if}
        {$punishment->team_name} — {$punishment->group_label}
      </div>
      <ul>
        <li><strong>Stop na:</strong> {$punishment->round}</li>
        <li n:if="$punishment->content"><strong>Dôvod:</strong> {$punishment->content}</li>
        <li n:if="$punishment->condition"><strong>Podmienečne</strong></li>
      </ul>
      <hr n:if="!$iterator->last" />
    </div>
  {else}
    <p>V tejto sezóne nie sú evidované žiadne tresty hráčov.</p>
  {/if}
</section>

{/block}
