{block content}

<h1 n:block="title">Odstráň trest</h1>

{if $punishment}
    <p class="delete text-warnig">
        Naozaj chceš odstrániť trest hráča 
        <mark>{$punishment->ref('players','player_id')->lname}</mark>?
    </p>
    {control deleteForm}
{else}
    <p class="text-danger">Nemôžem nájsť vhodný trest.</p>
{/if}