{block content}

<h1 n:block>Upraviť trest hráča {$player->lname}</h1>

<p n:if="$user->loggedIn">
    <a n:href="all#nav" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Tresty hráčov
    </a>
</p>

<div>
    {control editPunishmentForm}
</div>