{block content}

<h1 n:block="title">Pridať obrázky do albumu {$album->album}</h1>

<p>
    <a n:href="view#primary, $album->id" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        {$album->album}
    </a>
</p>

{control addImagesForm}

{/block}