{block content}

<h1 n:block="title">Vytvor nový album</h1>
<p>
	<a n:href="Gallery:#primary" class='btn btn-large btn-info'>&larr; späť na albumy</a>
</p>

<div class='form-group col-lg-6 col-md-7 col-sm-12 col-xs-12'>
	{control albumForm}
</div>