{block content}

<h1 n:block="title">{$album->album}</h1>

<p n:if="$user->loggedIn">
    <a n:href="Album:all#primary" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Albumy
    </a>
    <a n:href="add#primary, $album" class='btn btn-large btn-info'>
        <span class="glyphicon glyphicon-picture"></span>
        Pridať obrázky
    </a>
</p>

<section id="secondary" class="row">
    {foreach $galleryImgs as $img}
        <figure class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a n:href="Gallery:view, $img->id">
                {if $img->name}                
                    <img src="{$basePath}{$imgFolder}{$album->name}" class="img-responsive img-rounded" />
                {else}
                    <img src="{$basePath}{$default}" class="img-responsive img-rounded" />
                {/if}
            </a>
            <p class="text-center">
                <a n:href="delete, $img->id" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Odstrániť
                </a>
            </p>
        </figure>
    {/foreach}
</section>

