{block content}

<h1 n:block="title">Pridať album</h1>

<p>
    <a n:href="Album:all#nav" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Albumy
    </a>
</p>

{control addAlbumForm}