{block content}

<h1 n:block="title">Pridať album</h1>
<p>
    <a n:href="Album:all#primary" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        späť na albumy
    </a>
</p>

{control addAlbumForm}