{* Latte template *}

{block content}

<h1 n:block="title">Odstráň album</h1>

{if $album}
    <p class='delete text-warning'>
        Naozaj chceš odstrániť album <mark>{$album->album}</mark>?
    </p>
    {control deleteForm}
{else}
    <p>Záznam nebol nájdený.</p>
{/if}