{block content}

<h1 n:block="title">Zmaž obrázok</h1>

{if $img}
	<p class='delete text-warning'>
		Naozaj chceš zmazať obrázok <mark>{$img->name}</mark>?	
	</p>
	{control deleteForm}
{else}
	<p>Záznam nenájdený.</p>
{/if}