{block content}

<h1 n:block="title">Pridať príspevok</h1>

<p>
    <a n:href="Homepage:#nav" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Príspevky
    </a>
</p>

{control addPostForm}