{block content}

<h1>Upraviť príspevok</h1>
<p>
    <a n:href="Post:show, $post" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Príspevok
    </a>
</p>

{control editPostForm}