{block content}

<section class="content">
  <div class="clearfix">
    <h1 n:block="title">Štatistiky — {$archive->label}</h1>
  </div>
</section>

{if count($stats)}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>P.č.</th>
          <th>Meno a priezvisko</th>
          <th>Číslo</th>
          <th>Divízia</th>
          <th>Tím</th>
          <th>Z</th>
          <th>G</th>
          <th>A</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        <tr n:foreach="$stats as $stat" {if $stat->is_transfer}class="borrowed-player"{/if}>
          <td>{$iterator->counter}.</td>
          <td>{$stat->name}{if $stat->type_abbr} - {$stat->type_abbr}{/if}</td>
          <td>{if $stat->number != 0}{$stat->number}{/if}</td>
          <td>{$stat->group_label}</td>
          <td>{$stat->team_name}</td>
          <td>{$stat->games_played}</td>
          <td>{$stat->goals}</td>
          <td>{$stat->assistances}</td>
          <td><strong>{$stat->goals + $stat->assistances}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
{else}
  <p>V tejto sezóne nie sú evidované žiadne hráčske štatistiky.</p>
{/if}

{/block}
