{block content}

<h1 n:block="title">Odstráň hráča</h1>

<p class='delete text-warning'>
    Naozaj chceš odstrániť hráča <span class="text-uppercase">{$player->lname}</span>?
</p>
{control deleteForm}
