{block content}

{control breadCrumb}

<section class="content">
	<h1 n:block="title">Pridať sezónu do archívu</h1>
	<div class="alert alert-info">
	    <strong> 
	    	Archivácia môže trvať viac ako jednu minútu.
	    </strong>
	</div>
	{control archiveForm}
</section>