{block content}

<h1 n:block="title">Pridaj sezónu do archívu</h1>

<div class="alert alert-info">
    <strong> 
    	Archivácia môže trvať viac ako jednu minútu.
    </strong>
</div>

{control archiveForm}