{block content}

<h1 n:block="title">Pridať góly hráčom v zápase</h1>

<p>
    <a n:href="Round:all" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Zápasy
    </a>
</p>

{control editForm}