{* Latte template *}

{block content}

<h1 n:block="title">{$forum->title}</h1>

<p>
    <a n:href="Forum:all" class='btn btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span> Fórum
    </a>
</p>

<section id="currentIssue">
    <article>
        <header>
            {$forum->author}
        </header>
        {$forum->message|noescape}
    </article>
</section>

{control addForm}
