{block content}

<h1 n:block="title">Odstráň odpoveď</h1>

{if $reply}
    <p class="delete text-warnig">
        Naozaj chceš odstrániť správu z
        <mark>{$reply->forum->title}</mark>?
    </p>
    {control deleteForm}
{else}
    <p class="text-danger">Nemôžem nájsť správu.</p>
{/if}
