{block content}

<h1 n:block="title">Zmaž príspevok</h1>

<p class='delete text-warning'>
    Naozaj chceš zmazať príspevok <span class="text-uppercase">{$post->title}</span>?
</p>
{control deleteForm}
