{block content}

<section class="content">

	<div class="clearfix hidden-xs">
		<div class="pull-left">
			{control breadCrumb}
		</div>
	</div>

	<div class="clearfix">
		<h1 n:block="title">Odstrániť príspevok</h1>
	</div>

	{control deleteForm}
</section>

{/block}

