{block content}

<h1 n:block='title'>Pridaj link</h1>

<p>
    <a n:href="all" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span> Linky
    </a>
</p>

{control addLinkForm}