{block content}

<h1 n:block='title'>Uprav link</h1>

<p>
    <a n:href="all" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Linky
    </a>
</p>

{control editLinkForm}