{block content}

<h1 n:block="title">Pridať záznam</h1>

<p>
    <a n:href="all#nav" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Tabuľky
    </a>
</p>

{control addTableRowForm}
