{block content}

<h1 n:block="title">Odstráň riadok</h1>

{if $table}
    <p class='text-warning delete'>
        Naozaj chceš odstrániť záznam o mužstve <mark>{$table->team}</mark>?
    </p>
    {control deleteForm}
{else}
    <p>Nemôžem nájsť záznam v tabuľkách.</p>
{/if}