{block content}

<h1 n:block="title">Upraviť</h1>

<p>
    <a n:href="all" class="btn btn-large btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Tabuľky
    </a>
</p>

{control editTableRowForm}
