{block content}

<h1 n:block='title'>Pridať zápasy</h1>

<p>
    <a n:href="all" class='btn btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span> Rozpis zápasov
    </a>
</p>

<div class="alert alert-info">
    <strong>Pri kopírovaní textu z inej stránky, použi skratku Ctrl+Shift+V na prilepenie.</strong>
</div>

{control addEventForm}