{block content}

<h1 n:block="title">Rozpis zápasov</h1>

<section id="events">
	 <p>
        <a n:href="Archive:view#nav, $archive->id" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> {$archive->title}
        </a>
    </p>
    {foreach $events as $event}
        <article>
            <main>
                {$event->event|noescape}
            </main>
        </article>
    {/foreach}
</section>