{block content}

{control breadCrumb}

<section class="content">
	<h1 n:block="title">Rozpis zápasov</h1>
</section>

<section>
    <div n:foreach="$events as $event" class="content">
        {$event->event|noescape}
    </div>
</section>

{/block}