{block content}

{control breadCrumb}

<h1 n:block="title">Rozpis zápasov</h1>

<section id="events">
    <article n:foreach="$events as $event">
        <main>{$event->event|noescape}</main>
    </article>
</section>