{block content}

<section class="content">

	<div class="clearfix">
		<h1 n:block="title">Rozpis zápasov</h1>
    </div>

    <div n:foreach="$events as $event" style="margin-top: 3em">
        {$event->event|noescape}
    </div>

</section>

{/block}