{block content}

<h1 n:block='title'>Úprava udalosti</h1>

<p>
    <a n:href="all#nav" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span> Rozpis zápasov
    </a>
</p>

{control editEventForm}

{/block}

{block scripts}
    {include #parent}
    <script type="text/javascript" src="{$basePath}/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('ckeditor');
    </script>
{/block}