{block content}

<h1 n:block='title'>Úprava udalosti</h1>

<p>
    <a n:href="all" class='btn btn-large btn-default'>
        <span class="glyphicon glyphicon-arrow-left"></span> Rozpis zápasov
    </a>
</p>

{control editEventForm}