{block content}

<h1 n:block="title">Vynulovať štatistiky</h1>

<p class='delete text-warning'>
	Naozaj chceš vynulovať všetky štatistiky? V závislosti od pripojenia to môže trvať niekoľko minút.
</p>
{control resetForm}
