{block content}

<div class="row">
    <header>
        <h1 n:block="title">Pridať typ hráča</h1>
    </header>

    <main>
        <p>
            <a n:href="all#primary" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Typy hráčov
            </a>
        </p>
        {control addForm}
    </main>
</div>
