{block content}

<div class="row">
    <header>
        <h1 n:block="title">Odstráň typ hráča</h1>
    </header>

    <main>
        <p class='delete text-warning'>
            Naozaj chceš odstrániť typ hráča <span class="text-uppercase">{$type->type}</span>?
        </p>
        {control removeForm}
    </main>

</div>