{block content}

<section class="content">
  <div class="clearfix">
    <h1 n:block="title">Kolá a zápasy — {$season->label}</h1>
  </div>
</section>

{if $rounds->count()}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Kolo</th>
        </tr>
      </thead>
      <tbody>
        <tr n:foreach="$rounds as $round">
          <td><a n:href="archView $season->id, $round->id">{$round->label}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
{else}
  <p>V tejto sezóne nie sú evidované žiadne kolá.</p>
{/if}

{/block}
