<a n:href="Homepage:default#nav">
    <header role='banner'>
    	<div class="col-md-1 col-md-offset-5">
    		<img src="{$basePath}{$imgFolder}stanley_cup.png" alt="Stanley Cup" />
    		<img src="{$basePath}{$imgFolder}znak.png" alt="Znak Slovenskej republiky" />
    	</div>
    </header>
</a>