<a n:href="Homepage:default#nav">
    <div id='header' class='hidden-xs hidden-sm hidden-md hidden-lg'>
        <header class='container' role='banner'>
            <!-- -->
        </header>
    </div>
</a>