{**
 * @param string	$basePath web base path
 * @param string 	$imgFolder images folder path
 * @param array		$side_team teams
*}

<section id="teams" class="container-fluid hidden-xs">
    <a n:foreach="$sideTeams as $sideTeam" n:href="Teams:view $sideTeam" title="{$sideTeam->name}">
        <img src="{$basePath}/{$imgFolder}/{$sideTeam->logo}" 
             width="5%" alt="{$sideTeam->name} logo" />
    </a>
</section>