<section id="teams" class="text-center">
    {foreach $n_teams as $n_team}
        {if $n_team->logo != NULL}
            <a n:href="Teams:view, $n_team" title="{$n_team->name}">
                <img src="{$basePath}/{$imgFolder}/{$n_team->logo}" 
                    width="{40/$teams_count}%" alt="{$n_team->name} Logo" />
            </a>
        {/if}
    {/foreach}
</section>