{**
 * @param string	$basePath web base path
 * @param string 	$imageFolder images folder path
 * @param array		$teams teams
*}

<section id="teams" class="container-fluid hidden-xs">
	{foreach $teams as $team}
	  <a n:href="Teams:view $team->id" title="{$team->name}">
	    <img src="{$basePath}/{$imageFolder}/{$team->logo}" width="5%" alt="{$team->name} logo" />
	  </a>
  {/foreach}
</section>