/* SAHL Layout */
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica neue', sans-serif;
}

body {
    background: url("layout/background-lg.jpg");  
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -o-background-attachment: fixed;
}

#switcher {
    width: 909px;
    height: 606px;
    margin: -15px auto; 
    position: relative;
}

#switcher > img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

div#slider {
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: block;
    height: 393px;
    margin-bottom: 20px;
}

div#slider img {
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
    width: 100%;
    height: 313px;
}

div#slider p {
    float: left;
    width: 25%;
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: hidden; 
    height: 60px;
    word-wrap: break-word;
    top: 313px;
}

div#slider p:nth-child(1){ background: #3071a9; color: #ffffff }
div#slider p:nth-child(2){ background: #FF8C00 }
div#slider p:nth-child(3){ background: #ADD8E6; color: #000000 }
div#slider p:nth-child(n+4){ background: #9ACD32 }

div#slider p:nth-child(1):focus, div#slider p:nth-child(1):hover { background: #ADD8E6; color: #000000 }
div#slider p:nth-child(2):focus, div#slider p:nth-child(2):hover { background: #9ACD32 }
div#slider p:nth-child(3):focus, div#slider p:nth-child(3):hover { background: #3071a9; color: #ffffff }
div#slider p:nth-child(n+4):focus, div#slider p:nth-child(n+4):hover { background: #FF8C00 }

#lightbox {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.7); 
    color: #ffffff;
    font-weight: bold;
    overflow-y: scroll;
}

#lightbox div#show-prev, #lightbox div#show-next {
    height: 100%;
    margin: 10px 0 30px 0;
}

#lightbox div {
    height: 50px;
    line-height: 50px;
    text-align: center;
} 

#lightbox #close {
    font-size: 1.5em;
}

#lightbox div > span {
    vertical-align: middle;
    line-height: 500px;
    font-size: 3em;
}

#lightbox div#show-prev {
    text-align: right;
}

#lightbox div#show-next {
    text-align: left;
}

#lightbox p {
    text-align: right;  
    margin-right: 20px; 
    font-size: 12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width: 100%;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (min-width: 769px) and (max-width: 991px){

}

@media screen and (max-width: 767px) {
    div#page > div#main > div#primary.row > main.container > h3,
    div#page > div#main > div#primary.row > main.container > h2,
    div#page > div#main > div#primary.row > main.container > h1 {
        margin-top: 10px;
    }

    .container {
        width : inherit;
        height: inherit;
        margin: 0 auto;
    }

    body > div#main > main.container > div#switcher {
        width: 100%;
        height: 511px;
        margin: 0;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 511px;
    }

    #primary {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    div#page {
        width: 100%;
    }

    #page nav > div.navbar-header {
        background : #3071a9;
    }

    /*=====================NAVIGATION BAR=======-==========*/
    div#nav .navbar.container * {
        font-weight: bold;
    }

    div#nav .navbar.container .navbar-nav > li > a {
        background : rgb(173,216,230);
        color : navy;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        z-index: 1001;
    }

    #page #nav ul.dropdown-menu > li > a {
        background: navy;/* rgba(154, 205, 50, 0.9); */
        color: #000000;
        padding:0;
        margin:0;
        width: 100%;
        line-height: 35px;
        height: 35px;
        text-align: center;
        z-index: 1001;
    }	

    ul.dropdown-menu {
        z-index: 1001;
    }

    button.navbar-toggle.btn {
        border: 1px solid navy; 
    }

    button.navbar-toggle.btn:hover,
    button.navbar-toggle.btn:focus{
        background: #3071a9;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        margin: 2px 0 0;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    
    .navbar-nav .open .dropdown-menu {
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    div#main > main.container > h1{
        border-top-color: blue; 
        -moz-border-top-color: blue; 
        -webkit-border-top-color: blue;
        border-bottom-color: blue;
        -moz-border-bottom-color: blue;
        -webkit-border-bottom-color: blue;
        color: blue;
    }

    .navbar-header > a {
        padding: 0 20px;
        line-height: 50px;
        font-weight: bold;
        font-size: 21px;
    }
}

@media screen and (min-width: 262px) and (max-width: 362px) {

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 241px;
        margin: 0;
    }

    div#main .container {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 241px;
        margin: 0;
        padding: 0;
    }

}
  
@media screen and (min-width: 768px){

    #nav .navbar.container {
        border: 0;
        padding: 0;
    }

    #nav .navbar.container * {
        font-weight: bold;
    }

    #nav .navbar-nav > li > a{
        color: black;
    }

    #nav .navbar-nav > li {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #nav ul.nav.navbar-nav > li > a {
        height: 50px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        word-wrap: break-word;
        line-height: 50px
    }

    #nav ul.nav.navbar-nav > li{
        height: inherit;
        padding: 0;
        margin: 0;
    }

    #nav ul.dropdown-menu {
        margin-top: 0;
        border: 0;
        background: rgba(173, 216, 230, 0.92);
    }

    #nav ul.dropdown-menu > li > a {
        color: #000080;
        padding:0;
        margin:0;
        width: 200px;
        line-height: 40px;
        height: 40px;
        text-align: center;
    }
}

ul {
    list-style: none;
}


div#slider a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none;
}

div.pull-right{
    margin-right: 10px;
}

div.pull-left{
    margin-left: 10px;
}

div.pull-right > a > span.glyphicon.glyphicon-plus,
div.pull-left > a > span.glyphicon.glyphicon-pencil,
div.pull-left > a > span.glyphicon.glyphicon-remove {
    color: white;
}

table.table > tbody > tr:nth-child(even) {
    background-color: rgba(173,216,230,0.5);
} 

table.table > tbody > tr:nth-child(odd) {
    background-color: rgb(255,255,255);
} 

.borrowedPlayer {
    border: 5px solid #A94442;
}

main > div > div.table-responsive > table > tbody > tr:nth-child(8),
aside > div > table > tbody > tr:nth-child(8) {
    border-bottom: 5px solid #A94442;
}

article.post > main > div {
    margin-bottom: 25px;
}

ul.pagination {
    clear: both;
    float: left;
}
