/* CSS document - Basic layout */
* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica neue', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('layout/ice-lg.jpg');
}

#page #nav ul.nav.navbar-nav > li > a {
    background : #FF8C00;
    color : #000000;
}

#page #nav ul.nav.navbar-nav > li > a:hover,
#page #nav ul.nav.navbar-nav > li > a:focus {
    background : #9ACD32;
    color : #000000;
}

#main {
    position: relative;
    background-color: rgba(255,255,255,0.8);
}

#header {
    width: 100%;
    height: 300px;
}

#switcher {
    width: 909px;
    height: 606px;
    margin: -15px auto; 
    position: relative;
}

#switcher > img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

#footer {
    background : #FF8C00;
    color : #000000;
    font-weight: bold;
}

.container {
    background : inherit;
    height : inherit;
    margin : 0 auto;
}

div#page{
    box-shadow: 12px 0 15px -4px #888888, -12px 0 8px -4px #888888;
}

#main div.flash.success, #main div.flash.error {
    margin-bottom: 20px;
}

/*=========FORUM TYPOGRAPHY===========*/
main.container > section#forum > div.row,
section#replies > article,
section#currentIssue{
    margin-bottom: 15px;
    background: rgba(173,216,230,0.5);
    padding: 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

section#replies > article,
section#currentIssue{
    padding: 10px;
}

main.container > section#forum > div.row > article > footer > time{
    display: block;
}
/*=============NEWS THUMBNAIL LAYOUT===========*/
.thumbnail {
    width: 160px;
    float: left;
    margin-right: 10px;
}

div#slider {
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: block;
    height: 393px;
    margin-bottom: 20px;
}

div#slider img{
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
    width: 100%;
    height: 313px;
}

div#slider p{
    float: left;
    width: 25%;
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: hidden; 
    height: 60px;
    word-wrap: break-word;
    top: 313px;
}

div#slider p:nth-child(1){ background: #3071a9; color: #ffffff }
div#slider p:nth-child(2){ background: #FF8C00 }
div#slider p:nth-child(3){ background: #ADD8E6; color: #000000 }
div#slider p:nth-child(n+4){ background: #9ACD32 }

div#slider p:nth-child(1):focus, div#slider p:nth-child(1):hover { background: #ADD8E6; color: #000000 }
div#slider p:nth-child(2):focus, div#slider p:nth-child(2):hover { background: #9ACD32 }
div#slider p:nth-child(3):focus, div#slider p:nth-child(3):hover { background: #3071a9; color: #ffffff }
div#slider p:nth-child(n+4):focus, div#slider p:nth-child(n+4):hover { background: #FF8C00 }

/* ===============ASIDE WIDGETS LAYOUT=================*/
div#page > div#main > div#primary.row > aside.container > div.panel.panel-primary{
    margin-top: 15px;
}


#nav ul.dropdown-menu > li > a:hover,
#nav ul.dropdown-menu > li > a:focus{
    background: rgba(108, 144, 35, 0.9);
    color: #000000;
}
/*===================FILE UPLOAD BUTTON=================*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

section#punishments > article,
section#rules > article,
section#events > article,
section#fights > article {
    margin: 15px auto;
}

section#punishments > article *,
section#rules > article *,
section#fights > article *,
section#archive table a {
    text-decoration: none;
} 

section#events > article,
section#fights > article {
    background: rgba(173,216,230,0.5);
    padding: 10px;
    border-radius: 4px;
}

footer#images > figure{
    margin-bottom: 15px;
} 

section#terciary {
    margin: 15px 0;
}

section#terciary > figure{
    margin-top: 10px;
    width: 80%;
    margin: 35px auto;
    height: auto;
}

.table-responsive > table.table {
    margin-top: 15px;
    margin-bottom: 15px;
}

section#rounds > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    color: #FF8C00;
    font-size: 1.2em;
}
section#secondary.row > figure > a > img,
section#links figure{
    margin: 10px 0 10px 0;
}

section#secondary.row > figure,
section#portrait.row > figure,
section#sponsors > figure,
section#sponsors{
    margin-bottom: 20px;
}

section#post > article > main {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid navy;
    overflow-x: hidden;
}

section#facebook > div {
    width: 100%;
    margin: 0 auto;
}

/*
.form-group > label[for=frm-addMessageForm-url],
.form-group > input#frm-addMessageForm-url {
    display: none;
}
*/

div.panel.panel-footer a {
    margin: 0 10px;
}

#lightbox {
    position: fixed; /* keeps the lightbox window in the current viewport */
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.7); 
    color: #ffffff;
    font-weight: bold;
    overflow-y: scroll;
}

#lightbox div#show-prev, #lightbox div#show-next {
    height: 100%;
    margin: 10px 0 30px 0;
}

#lightbox div{
    height: 50px;
    line-height: 50px;
    text-align: center;
} 

#lightbox #close {
    font-size: 1.5em;
}

#lightbox div > span {
    vertical-align: middle;
    line-height: 500px;
    font-size: 3em;
}

#lightbox div#show-prev {
    text-align: right;
}

#lightbox div#show-next {
    text-align: left;
}

#lightbox p{
    text-align: right;  
    margin-right: 20px; 
    font-size: 12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width: 100%;
}

.sender-email-address {
    display: none;
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #nav {
        height : 50px;
        width : 1170px;
    }

    #header {
        width: 100%;
        height: 343px;
    }

    #header .container {
        background: url('layout/banner-lg-1.png') no-repeat top left;
    } 

    #main {
        width : 100%;
        height : auto;
    }

    #main .container{
        padding: 15px;
    }

    #footer {
        width: 1170px;
        height: 50px;
        margin: 0 auto;
    }

    #primary{
        width: 1170px;
        height: 100%;
        margin: 0 auto;
    }

    div#page{
        width: 1170px;
        margin: 0 auto;
        height: auto;
    }

    /*=====================NAVIGATION BAR=======-==========*/
    nav.navbar.container {
        width: 1170px;
    }

    div#example-navbar-collapse.collapse.navbar-collapse {
        width: 1170px;
        margin: 0;
        padding: 0;
    }

    ul.navbar-nav.nav {
        width: 1170px;
    }

    /*======================GALLERY========================*/
    .gallery{
        float: left;
        display: inline-block;
        margin: 5px;
    }

    div.images > div.gallery{
        width: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px){
    #nav {
        height : 50px;
        width : 970px;
    }

    #header {
        width: 100%;
        height: 292px;
    }

    #header .container {
        background: url('layout/banner-md-1.png') no-repeat top left;
    } 

    body > div#main {
        width : 100%;
        height : auto;
    }

    #main .container{
        padding: 15px;
    }

    #footer {
        width : 970px;
        height : 50px;
        margin: 0 auto;
    }

    #primary{
        width: 970px;
        height: 100%;
        margin: 0 auto;
    }

    .container {
        width: 970px;
        margin: 0 auto;
    }

    div#page{
        width: 970px;
        margin: 0 auto;
        height: auto;
    }

    /*=====================NAVIGATION BAR=======-==========*/
    
    nav.navbar.container {
        width: 970px;
    }

    div#example-navbar-collapse.collapse.navbar-collapse {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    ul.navbar-nav.nav {
        width: 970px;
    }

    /*======================GALLERY========================*/
    .gallery{
        float: left;
        display: inline-block;
        margin: 5px;
    }

    div.images > div.gallery{
        width: 200px;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px){
    #nav {
        height : 50px;
        width : 100%;
    }

    #header {
        width: 100%;
        height: 195px;
    }

    #header .container {
        background: url('layout/banner-sm-1.png') no-repeat top left;
    } 

    #main {
        width : 100%;
        height : auto;
    }

    #main .container{
        padding: 15px;
        width: 100%;
        margin: 0 auto;
    }

    #footer {
        width : 100%;
        height : 50px;
    }

    #primary{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    div#page{
        width: 100%;
        height: auto;
    }

    /*======================GALLERY========================*/
    .gallery{
        float: left;
        display: inline-block;
        margin: 5px;
    }

    div.images > div.gallery{
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    #nav {
        height : 50px;
        width : 100%;
    }

    #main {
        width : 100%;
        height : 100%;
    }

    div#page > div#main > div#primary.row > main.container > h3,
    div#page > div#main > div#primary.row > main.container > h2,
    div#page > div#main > div#primary.row > main.container > h1 {
        margin-top: 10px;
    }

    #footer {
        width : 100%;
        height : 50px;
    }

    .container {
        width : inherit;
        height: inherit;
        margin: 0 auto;
    }

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 511px;
        margin: 0;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 511px;
    }

    #primary{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    div#page{
        width: 100%;
    }

    #page nav > div.navbar-header {
        background : #FF8C00;
    }

    /*=====================NAVIGATION BAR=======-==========*/
    div#nav .navbar.container * {
        font-weight: bold;
    }

    div#nav .navbar.container .navbar-nav > li > a {
        color: black;
        background: #FF9900;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        z-index: 1001;
    }

    #page #nav ul.dropdown-menu > li > a {
        background: rgba(154, 205, 50, 0.9);
        color: #000000;
        padding:0;
        margin:0;
        width: 100%;
        line-height: 35px;
        height: 35px;
        text-align: center;
        z-index: 1001;
    }	

    ul.dropdown-menu {
        z-index: 1001;
    }

    button.navbar-toggle.btn {
        border: 1px solid rgb(205, 112, 0); 
    }

    button.navbar-toggle.btn:hover,
    button.navbar-toggle.btn:focus{
        background: rgb(230, 126, 0);
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        margin: 2px 0 0;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    
    .navbar-nav .open .dropdown-menu {
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    /*======================GALLERY========================*/
    .gallery{
        float: left;
        display: inline-block;
        margin: 5px;
    }

    div.gallery > img.img-gallery {
        width: 100%;
    }

    section.gallery {
        display: block;
        margin: 5px;
        clear: both;
    }

    .navbar-toggle {
        width: 39px;
    }

    .table caption.caption{
        width: 100%;
    }

    .table td.col-xs-8, .table th.col-xs-8{
        width: 100%;
    }

    ul li.col-xs-12{
        width: 100%;
    }

    p.delete{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .img{
        width: 100%;
    }

    /*================TYPOGRAPHY=============*/
    div#main > main.container > p.delete.text-warning{
        padding: 10px;
    }

    div#main > main.container > h1{
        border-top-color: blue; 
        -moz-border-top-color: blue; 
        -webkit-border-top-color: blue;
        border-bottom-color: blue;
        -moz-border-bottom-color: blue;
        -webkit-border-bottom-color: blue;
        color: blue;
    }

    .navbar-header > a {
        padding: 0 20px;
        line-height: 50px;
        font-weight: bold;
        font-size: 21px;
    }
}

/**	
  * Responsive mobile view design for image slider on front page
  *	Image shrinks when display changes, 
  * Every 100px I change the height of element to look it much better
  *	THE SMALLEST SCREEN, especially James Bond has even smaller, but I don't care now.
  */

@media screen and (min-width: 262px) and (max-width: 362px) {

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 241px;
        margin: 0;
    }

    div#main .container {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 241px;
        margin: 0;
        padding: 0;
    }

}

/*===============Screen between 363 and 462 pixels============*/
@media screen and (min-width: 363px) and (max-width: 462px) {

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 308px;
        margin: 0;
    }

    div#main .container {
        width: 100%;
        height: auto;
        padding: 0;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 308px;
    }

}

/*============Screen between 463 and 562 px===============*/
@media screen and (min-width: 463px) and (max-width: 562px) {

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 375px;
        margin: 0;
    }

    div#main .container {
        width: 100%;
        height: auto;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 375px;
    }

}

@media screen and (min-width: 463px) and (max-width: 562px) {

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 375px;
        margin: 0;
    }

    div#main .container {
        width: 100%;
        height: auto;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 375px;
    }

}

/* Bigger screen is included in the @media query above at the beginning of the document */
@media screen and (min-width: 563px) and (max-width: 662px) {

    body > div#main > main.container > div#switcher{
        width: 100%;
        height: 441px;
        margin: 0;
    }

    div#main .container {
        width: 100%;
        height: auto;
    }

    div#main > main.container > div#switcher > img {
        width: 100%;
        height: 441px;
    }

}

/* CSS document - Typography and text editing */

/*================HEADINGS===========================*/
main.container{
    margin-bottom: 10px;
}

#main main.container h1, 
#main main.container h3,
aside.container h3{
    text-align: left;
    font-size: 1.7em;
    color: navy;
    display: block;
    clear: both;
    background-color: rgba(173,216,230,0.5);
    padding: 13px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
    margin-top: 15px;
}

#main main.container > h1{
    text-align: center;
}

#main main h1.idea{
    font-size: 17px;
    font-style: italic;
}

#main main.container h2{
    text-align: left;
    font-size: 1.5em;
    color: #FF8C00;
    display: block;
    clear: both;
    background: #FFE4B2;
    padding: 10px;
    font-weight: bold;
}

#main main.container h2 > a{
    text-decoration: none;
    color: #FF8C00;
}

#main main.container h2 > a:hover{
    text-decoration: none;
    color: #CC7000;
}

#main main.container > a, #nav > nav.container > a{
    text-decoration: none;
}

/*=================TYPOGRAPHY=========================*/
.error, .success {
    font-style: italic;
    font-weight: bold;
    color: red;
    padding: 15px;
}

.success {
    color: green;
    background: lightgreen;
    border: 1px solid green;
}

.gallery .delete{
    background: none;
    border: none;
    text-align: center;
}

footer.container {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}   

.glyphicon{
    position: relative;
    z-index: 0;
}
/*===========Documentation for NAVIGATION MENU BAR===============*/
@media screen and (min-width: 768px){

    #nav .navbar.container {
        border: 0;
        padding: 0;
    }

    #nav .navbar.container * {
        font-weight: bold;
    }

    #nav .navbar-nav > li > a{
        color: black;
    }

    #nav .navbar-nav > li {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #nav ul.nav.navbar-nav > li > a {
        height: 50px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        word-wrap: break-word;
        line-height: 50px
    }

    #nav ul.nav.navbar-nav > li{
        height: inherit;
        padding: 0;
        margin: 0;
    }

    #nav ul.dropdown-menu {
        margin-top: 0;
        border: 0;
        background: rgba(154, 205, 50, 0.9);
    }

    #nav ul.dropdown-menu > li > a{
        background: rgba(154, 205, 50, 0.8);
        color: #000000;
        padding:0;
        margin:0;
        width: 200px;
        line-height: 40px;
        height: 40px;
        text-align: center;
    }
}

/*========================TABLES==================================*/
.caption {
    background:#3071a9;
    color:white;
    font-size:1.2em;
    line-height:2em;
    font-weight: bold;
    text-align: center;
}

div#main > main.container > table{
    margin: 30px 0;
}

/*===================ORDERED AND UNORDERED LIST======================*/
ul {
    list-style: none;
}

.content ul li a {
    font-weight: bold;
    color: green;
    text-decoration: none;
}

.content ul li a:hover{
    color: #934A15;
}

.content ul li a.danger{
    color: #C9302C;
}

.content ul li a.danger:hover{
    color: #AC2925;;
}


/*===================BUTTONS AND FORMS============================*/
.btn {
    margin: 5px;
}

.delete {
    background: #FFE4B2;
    border-radius: 5px;
    padding: 15px;
}

/*===========================IMAGES==================================*/

div#slider a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none;
}

div.pull-right{
    margin-right: 10px;
}

div.pull-left{
    margin-left: 10px;
}

div.pull-right > a > span.glyphicon.glyphicon-plus,
div.pull-left > a > span.glyphicon.glyphicon-pencil,
div.pull-left > a > span.glyphicon.glyphicon-remove{
    color: white;
}

table.table > tbody > tr:nth-child(even){
    background-color: rgba(173,216,230,0.5);
} 

table.table > tbody > tr:nth-child(odd){
    background-color: rgb(255,255,255);
} 

section#forum > div.row > article > header > a,
section#forum > div.row > article > footer > a,
div.pull-right > a > span.glyphicon-remove,
section#replies > article > header,
section#currentIssue > article > header{
    font-weight: bold;
    font-size: 1.2em;
    color:#000080;
}

section#forum > div.row > article > footer > a{ font-size: 1em; display: block }

section#forum > div.row > article > header > a:hover,
section#forum > div.row > article > header > a:focus,
div.pull-right > a > span.glyphicon-remove:hover,
div.pull-right > a > span.glyphicon-remove:focus,
section#forum > div.row > article > footer > a:hover,
section#forum > div.row > article > footer > a:focus{
    color:#0066FF;
    text-decoration: none;
}

section#replies > article > header > div.pull-right > a > span.glyphicon-remove{
    font-size: 1em;
    font-weight: normal;
}

section#punishments > table.table {
    border: none;
    background-color: rgb(255,255,255);
} 

section#punishments > table.table > tbody > tr{
    background-color: rgba(255,255,255,0.1);
} 

section#fights > article > main > ul > li > span{
    font-style: italic;
}

.borrowedPlayer{
    border: 5px solid #A94442;
}

div#playOff > table > tbody > tr:nth-child(1),
div#playOff > table > tbody > tr:nth-child(2),
div#playOff > table > tbody > tr:nth-child(3),
div#baseTable > table > tbody > tr:nth-child(1),
div#baseTable > table > tbody > tr:nth-child(2),
div#baseTable > table > tbody > tr:nth-child(3),
div#stats > table > tbody > tr:nth-child(1),
div#stats > table > tbody > tr:nth-child(2),
div#stats > table > tbody > tr:nth-child(3),
aside > div > table#playOff > tbody > tr:nth-child(1),
aside > div > table#playOff > tbody > tr:nth-child(2),
aside > div > table#playOff > tbody > tr:nth-child(3),
aside > div > table#baseTable > tbody > tr:nth-child(1),
aside > div > table#baseTable > tbody > tr:nth-child(2),
aside > div > table#baseTable > tbody > tr:nth-child(3),
table.table > tbody > tr > td > span.text-danger,
section#post > article > header > time,
aside > div > table#briefFights > tbody > tr > td:nth-child(6),
aside > div > table#briefFights > tbody > tr > td:nth-child(5),
aside > div > table#briefFights > tbody > tr > td:nth-child(4){
    font-weight: bold;
}

main div#baseTable > table > tbody > tr:nth-child(1),
main div#playOff > table > tbody > tr:nth-child(1),
main div#stats > table > tbody > tr:nth-child(1),
aside > div > table#playOff > tbody > tr:nth-child(1),
aside > div > table#baseTable > tbody > tr:nth-child(1){
    color: #A94442;
}

main > div > div.table-responsive > table > tbody > tr:nth-child(8),
aside > div > table > tbody > tr:nth-child(8){
    border-bottom: 5px solid #A94442;
}

article.post > main > div {
    margin-bottom: 25px;
}

ul.pagination {
    clear: both;
    float: left;
}