/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #nav {
        height : 50px;
        width : 1170px;
    }

    #header {
        width: 100%;
        height: 343px;
    }

    #header .container {
        background: url('layout/banner-lg-1.png') no-repeat top left;
    } 

    #main {
        width : 100%;
        height : auto;
    }

    #main .container{
        padding: 15px;
    }

    #footer {
        width: 1170px;
        height: 50px;
        margin: 0 auto;
    }

    #primary{
        width: 1170px;
        height: 100%;
        margin: 0 auto;
    }

    div#page{
        width: 1170px;
        margin: 0 auto;
        height: auto;
    }

    /*=====================NAVIGATION BAR=======-==========*/
    nav.navbar.container {
        width: 1170px;
    }

    div#example-navbar-collapse.collapse.navbar-collapse {
        width: 1170px;
        margin: 0;
        padding: 0;
    }

    ul.navbar-nav.nav {
        width: 1170px;
    }

    /*======================GALLERY========================*/
    .gallery{
        float: left;
        display: inline-block;
        margin: 5px;
    }

    div.images > div.gallery{
        width: 200px;
    }
}