/* CSS document - Typography and text editing */

/*================HEADINGS===========================*/
main.container{
    margin-bottom: 10px;
}

#main main.container h1, 
#main main.container h3,
aside.container h3{
    text-align: left;
    font-size: 1.7em;
    font-family: "Times New Roman", Georgia, Serif;
    color: navy;
    display: block;
    clear: both;
    background-color: rgba(173,216,230,0.5);
    padding: 10px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
}

#main main.container > h1{
    text-align: center;
}

#main main h1.idea{
    font-size: 17px;
    font-style: italic;
}

#main main.container h2{
    text-align: left;
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    color: #FF8C00;
    display: block;
    clear: both;
    background: #FFE4B2;
    padding: 10px;
    font-weight: bold;
}

#main main.container h2 > a{
    text-decoration: none;
    color: #FF8C00;
}

#main main.container h2 > a:hover{
    text-decoration: none;
    color: #CC7000;
}

#main main.container > a, #nav > nav.container > a{
    text-decoration: none;
}

/*=================TYPOGRAPHY=========================*/
.error, .success {
    font-style: italic;
    font-weight: bold;
    color: red;
    padding: 15px;
}

.success {
    color: green;
    background: lightgreen;
    border: 1px solid green;
}

.gallery .delete{
    background: none;
    border: none;
    text-align: center;
}

footer.container {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}	

.glyphicon{
    position: relative;
    z-index: 0;
}
/*===========Documentation for NAVIGATION MENU BAR===============*/
@media screen and (min-width: 768px){

    #nav .navbar.container {
        border: 0;
        padding: 0;
    }

    #nav .navbar.container * {
        font-weight: bold;
    }

    #nav .navbar-nav > li > a{
        color: black;
    }

    #nav .navbar-nav > li {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #nav .navbar-nav > li > a:hover, 
    #nav .navbar-nav > li >a:focus {
        color: white;
        background: url('layout/nav-hover-b.gif') repeat-x top left;
        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
        -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
        -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    }

    #nav ul.nav.navbar-nav > li > a {
        height: 50px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        word-wrap: break-word;
        line-height: 50px
    }

    #nav ul.nav.navbar-nav > li{
        height: inherit;
        padding: 0;
        margin: 0;
    }

    #nav ul.dropdown-menu{
        margin-top: -6px;
        background: none;
        border: 0;
    }

    #nav ul.dropdown-menu > li > a{
        background: rgb(68, 157, 68);
        color: white;
        padding:0;
        margin:0;
        width: 200px;
        line-height: 40px;
        height: 40px;
        text-align: center;
    }

    #nav ul.dropdown-menu > li > a:hover{
        background: #FFD700;
        color: black;
        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
        -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
        -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    }
}

/*========================TABLES==================================*/
.caption {
    background:#3071a9;
    color:white;
    font-size:1.2em;
    line-height:2em;
    font-weight: bold;
}

div#main > main.container > table{
    margin: 30px 0;
}

aside.container > .table-responsive {
    margin-top: 15px;
    margin-bottom: 10px;
}

/*===================ORDERED AND UNORDERED LIST======================*/
ul {
    list-style: none;
}

.content ul li a {
    font-weight: bold;
    color: green;
    text-decoration: none;
}

.content ul li a:hover{
    color: #934A15;
}

.content ul li a.danger{
    color: #C9302C;
}

.content ul li a.danger:hover{
    color: #AC2925;;
}


/*===================BUTTONS AND FORMS============================*/
.btn {
    margin: 5px;
}

.delete {
    background: #FFE4B2;
    border: 1px solid #D58512;
    padding: 15px;
}

/*===========================IMAGES==================================*/

div#slider a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none;
}

div.pull-right{
    margin-right: 10px;
}

div.pull-left{
    margin-left: 10px;
}

div.pull-right > a > span.glyphicon.glyphicon-plus,
div.pull-left > a > span.glyphicon.glyphicon-pencil,
div.pull-left > a > span.glyphicon.glyphicon-remove{
    color: white;
}

table.table > tbody > tr:nth-child(even){
    background-color: rgba(173,216,230,0.5);
} 

table.table > tbody > tr:nth-child(odd){
    background-color: rgb(255,255,255);
} 

section#forum > div.row > article > header > a,
section#forum > div.row > article > footer > a,
div.pull-right > a > span.glyphicon-remove,
section#replies > article > header,
section#currentIssue > article > header{
    font-weight: bold;
    font-size: 1.2em;
    color:#000080;
}

section#forum > div.row > article > footer > a{ font-size: 1em; display: block }

section#forum > div.row > article > header > a:hover,
section#forum > div.row > article > header > a:focus,
div.pull-right > a > span.glyphicon-remove:hover,
div.pull-right > a > span.glyphicon-remove:focus,
section#forum > div.row > article > footer > a:hover,
section#forum > div.row > article > footer > a:focus{
    color:#0066FF;
    text-decoration: none;
}

section#replies > article > header > div.pull-right > a > span.glyphicon-remove{
    font-size: 1em;
    font-weight: normal;
}

section#punishments > table.table {
    border: none;
    background-color: rgb(255,255,255);
} 

section#punishments > table.table > tbody > tr{
    background-color: rgba(255,255,255,0.1);
} 

section#fights > article > main > ul > li > span{
    font-style: italic;
}

.borrowedPlayer{
    border: 5px solid #A94442;
}

div#playOff > table > tbody > tr:nth-child(1),
div#playOff > table > tbody > tr:nth-child(2),
div#playOff > table > tbody > tr:nth-child(3),
div#baseTable > table > tbody > tr:nth-child(1),
div#baseTable > table > tbody > tr:nth-child(2),
div#baseTable > table > tbody > tr:nth-child(3),
div#stats > table > tbody > tr:nth-child(1),
div#stats > table > tbody > tr:nth-child(2),
div#stats > table > tbody > tr:nth-child(3),
aside > div > table#playOff > tbody > tr:nth-child(1),
aside > div > table#playOff > tbody > tr:nth-child(2),
aside > div > table#playOff > tbody > tr:nth-child(3),
aside > div > table#baseTable > tbody > tr:nth-child(1),
aside > div > table#baseTable > tbody > tr:nth-child(2),
aside > div > table#baseTable > tbody > tr:nth-child(3),
table.table > tbody > tr > td > span.text-danger,
section#post > article > header > time,
aside > div > table#briefFights > tbody > tr > td:nth-child(6),
aside > div > table#briefFights > tbody > tr > td:nth-child(5),
aside > div > table#briefFights > tbody > tr > td:nth-child(4){
    font-weight: bold;
}

main div#baseTable > table > tbody > tr:nth-child(1),
main div#playOff > table > tbody > tr:nth-child(1),
main div#stats > table > tbody > tr:nth-child(1),
aside > div > table#playOff > tbody > tr:nth-child(1),
aside > div > table#baseTable > tbody > tr:nth-child(1){
    color: #A94442;
}

main > div > div.table-responsive > table > tbody > tr:nth-child(8),
aside > div > table > tbody > tr:nth-child(8){
    border-bottom: 5px solid #A94442;
}