{block content}

<h1 n:block='title'>Pridať archív</h1>

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<p>
	    <a n:href="all" class='btn btn-default'>
	        <span class="glyphicon glyphicon-arrow-left"></span> Archív
	    </a>
	</p>
	{control addForm}
</section>