{block content}

<h1 n:block="title">Pridaj sezónu do archívu</h1>

<div class="alert alert-info">
    <strong> 
    V závislosti od internetového pripojenia môže archivácia trvať niekoľko minút.
    </strong>
</div>

{control archiveForm}